<template name="fresh">
  <div class="bar bar-header bar-calm">
    <button class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Fresh</div>
  </div>

  {{#ionView}}
    {{#ionContent}}
      <div class="list card">
        <div class="item item-divider">
           Mas bro numpak motor
         </div>
        <div class="item item-image">
          <img src="/image.png">
        </div>
        <div class="item item-avatar">
          <img src="/image.png">
          <h2>Pretty Hate Machine</h2>
          <p>2 hour ago - 234 funs - 1224 comment</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left assertive item-devider">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#" data-action="shareApp">
            <i class="icon ion-share"></i>
            Share
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-download"></i>
            Save
          </a>
        </div>
      </div>
      <div class="ui mobile leaderboard test ad centered " data-text="Mobile Leaderboard"></div>
      <div class="list card">
        <div class="item item-divider">
           Dodolan Njenengan
         </div>
        <div class="item item-image">
          <img src="/image.png">
        </div>
        <div class="item item-avatar">
          <img src="/image.png">
          <h2>Pretty Hate Machine</h2>
          <p>2 hour ago - 234 funs - 1224 comment</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left assertive item-devider">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#" data-action="shareApp">
            <i class="icon ion-share"></i>
            Share
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-download"></i>
            Save
          </a>
        </div>
      </div>
      <div class="ui mobile leaderboard test ad centered " data-text="Mobile Leaderboard"></div>
      <div class="list card">
        <div class="item item-divider">
           Dodolan Njenengan
         </div>
        <div class="item item-image">
          <img src="/image.png">
        </div>
        <div class="item item-avatar">
          <img src="/image.png">
          <h2>Pretty Hate Machine</h2>
          <p>2 hour ago - 234 funs - 1224 comment</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left assertive item-devider">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#" data-action="shareApp">
            <i class="icon ion-share"></i>
            Share
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-download"></i>
            Save
          </a>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
