<!-- <template name="fresh">
  <div>
        <h1>jQuery Mobile Menu example for Meteor.js.</h1>
        {{> example}}
        {{> menu}}
    </div>

</template>

<template name="example">
  <button id="open">Open Menu!</button>
  <button id="close">Close Menu!</button>
</template>

<template name="menu-left">
    <nav id="my-menu">
        <ul>
            <li>
              <a href="{{ pathFor 'trending' }}" class="item bar-close">
                <i class="signal icon"></i> Trending
              </a>
            </li>
            <li>
              <a  href="{{ pathFor 'fresh' }}" class="item bar-close">
                <i class="fire icon"></i> Fresh
              </a>
            </li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</template> -->
