<template name="layout">
  {{#ionBody}}
    {{#ionSideMenuContainer}}
      {{#ionSideMenus enable-menu-with-back-views="false"}}
        {{#ionSideMenu}}
          {{> menu}}
        {{/ionSideMenu}}
      {{/ionSideMenus}}

      {{#ionSideMenuContent}}
        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}
      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}
</template>

<template name="menu">
    {{#ionHeaderBar class="bar-dark"}}
      <h1 class="title">Opo Kuwi</h1>
    {{/ionHeaderBar}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item" href="/" data-ion-menu-close>
          <i class="signal icon"></i> Trending
        </a>
        <a class="item" href="/fresh" data-ion-menu-close>
          <i class="fire icon"></i> Fresh
        </a>
        <a class="item" href="/view" data-ion-menu-close>
          <i class="unhide icon"></i> NSFW
        </a>
      {{/ionList}}
    {{/ionContent}}
</template>
