<template name="view"><br />
  <div class="page-size">
    <!-- <div class="ui centered large leaderboard test ad resp" data-text="Large Leaderboard"></div> -->
    <div class="left-content ui segment" id="data">
      <div class="right ui rail resp">
        <img class="ui centered image" src="https://tpc.googlesyndication.com/simgad/17116948383573992932">
        <div class="ui info message">
          <div class="header">Info titik titik</div>
          <ul class="list">
            <li>Please enter your first name</li>
            <li>Please enter your last name</li>
          </ul>
        </div>
        <div class="ui sticky data-left">
          <img class="ui centered image ulign" src="http://pagead2.googlesyndication.com/simgad/11213341415305521831"><br />
          <div class="ui horizontal bulleted link list">
            <a class="item">
              Terms
            </a>
            <a class="item">
              Privacy
            </a>
            <a class="item">
              Contact
            </a>
            <a class="item">
              Advetise
            </a>
          </div>
        </div>
      </div>
      <div class="ui">
        <div class="container one">
          <h2 class="ui right floated header">
            <a><i class="chevron circle right icon"></i></a>
          </h2>
          <h2 class="ui left floated header">
            <a><i class="chevron circle left icon"></i></a>
          </h2>
          <br />
          <h2 class="ui block header">
            Payah itu Susah !!
          </h2>
          <div class="full static ui center aligned">
            <img class="ui centered image ulign" src="http://img-9gag-ftw.9cache.com/photo/aVWe2BP_460s.jpg">
          </div>
        </div>
        <div class="text-comment"  style="text-align:center;">
          <div style="text-align:center; font-size: 1em;"><b><a><i class="user icon"></i>budi</a> - 2 hour ago - <i class="unhide icon"></i>123 views</b></div>
          <div class="ui tiny buttons oka">
            <div class="ui button secondary medium">
              865 Funs
            </div>
            <div class="ui button secondary medium">
              76 Comment
            </div>
            <div class="ui button secondary medium">
              Follow
            </div>
          </div><br />
          <div class="ui buttons oka">
            <div class="ui facebook button">
              Share on <i class="facebook icon"></i>
            </div>
            <div class="ui twitter button">
              Share on <i class="twitter icon"></i>
            </div>
          </div>
          <br />
        </div>
        <!-- <div class="ui centered banner test ad"></div> -->
        <div class="ui comments">
          <h3 class="ui dividing header">Comments</h3>
          <form class="ui reply form">
            <div class="field">
              <textarea></textarea>
            </div>
            <div class="ui blue labeled submit icon button right floated">
              <i class="icon edit"></i> Add Reply
            </div>
          </form>
          <br />
          <div class="comment">
            <a class="avatar">
              <img src="/image.png">
            </a>
            <div class="content">
              <a class="author">Matt</a>
              <div class="metadata">
                <span class="date">Today at 5:42PM</span>
              </div>
              <div class="text">
                How artistic!
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="/image.png">
            </a>
            <div class="content">
              <a class="author">Elliot Fu</a>
              <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
              </div>
              <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
            <div class="comments">
              <div class="comment">
                <a class="avatar">
                  <img src="/image.png">
                </a>
                <div class="content">
                  <a class="author">Jenny Hess</a>
                  <div class="metadata">
                    <span class="date">Just now</span>
                  </div>
                  <div class="text">
                    Elliot you are always so right :)
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="/image.png">
            </a>
            <div class="content">
              <a class="author">Joe Henderson</a>
              <div class="metadata">
                <span class="date">5 days ago</span>
              </div>
              <div class="text">
                Dude, this is awesome. Thanks so much
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</template>
